*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
height: 90px;
    background: rgba(60, 60, 60, 0);
    box-shadow: 0px 0px 30px 0px rgba(208, 204, 204, 0.25);
    backdrop-filter: blur(12.5px);
    
    box-shadow: 0 2 20px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo h1{
    font-size: 40px;
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 20px 0;  /* Adjust padding to control vertical position */
    cursor: pointer;
    line-height: 1;  
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 20px;
}

section nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: rgb(143, 143, 236);
}

section nav .icon i{
    font-size: 18px;
    color: whitesmoke;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color:rgb(143, 143, 236) ;
}

/* Keyframes for sliding animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
    animation: slideInLeft 2s ease-out; /* 1s duration and ease-out timing function */
}


section .main .men_text h1 span{
    margin-left: 10px;
    color:  rgb(143, 143, 236);
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
    /* font-family: mv boli; */
    line-height: 15px;
    font-size: 70px;
}

section .main .main_image img{
    width: 500px;
    position: relative;
    left: 50px;
    height: 400px;
    box-shadow: 0px 0px 30px 10px rgba(208, 204, 204, 0.25);
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 50px;
    line-height: 22px;
    animation: slideInLeft 2s ease-out; /* Same animation as h1 */
    animation-delay: 0s; /* Delay for the paragraph to start sliding after h1 */
}

section .main_btn{
    background: rgb(143, 143, 236);
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i{
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}
.animate {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.animate.in-view {
    opacity: 1;
    transform: translateX(0);
}



/* /About/ */

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 600px;
    height: 400px;
    position: relative;
    top: 60px;
    box-shadow: 0px 0px 30px 5px rgba(208, 204, 204, 0.25);
}

.about .about_main .about_text h1 span{
    color: rgb(143, 143, 236);
    margin-right: 15px;
    /* font-family: mv boli; */
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
     margin-bottom: 20px;
}
.about .about_text span{
    color:  rgb(143, 143, 236);
    /* font-family: mv boli; */
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.about .about_btn{
    background: rgb(143, 143, 236);
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 10px;
}



/* /Menu/ */

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.menu h1 span{
    color: rgb(143, 143, 236);
    margin-left: 15px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(143, 143, 236);
    display: block;
    position: relative;
    bottom: 0px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: rgb(143, 143, 236);
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: rgb(143, 143, 236);
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}



/* /Gallary/ */

.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color:  rgb(143, 143, 236);
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
    /* font-family: mv boli; */
    /* line-height: 15px; */
    font-size: 70px;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    /* background: #9cefe2; */
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: rgb(143, 143, 236);
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background:rgb(143, 143, 236);
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}






.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(image/login2.jpg);
    background-size: cover;
    background-position: center;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.order h1 span{
    color: #9cefe2;
    margin-right: 15px;
    font-family: mv boli;
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #9cefe2;
    display: block;
    position: relative;
    bottom: 15px;
}
/* Nav Bar of Learning Modules */
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
height: 90px;
    background: rgba(60, 60, 60, 0);
    box-shadow: 0px 0px 30px 0px rgba(208, 204, 204, 0.25);
    backdrop-filter: blur(12.5px);
    
    box-shadow: 0 2 20px rgba(0,0,0,0.5);
    z-index: 1000;
}
 nav .logo h1{
    font-size: 40px;
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 20px 0;  /* Adjust padding to control vertical position */
    cursor: pointer;
    line-height: 1;  
}
 nav ul{
    list-style: none;
}
 nav ul li{
    display: inline-block;
    margin: 0 20px;
}

 nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

 nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    transition: 0.2s linear;
}

 nav ul li a:hover::after{
    width: 100%;
}

 nav ul li a:hover{
    color: rgb(143, 143, 236);
}

 nav .icon i{
    font-size: 18px;
    color: whitesmoke;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

 nav .icon i:hover{
    color:rgb(143, 143, 236) ;
}

.login {
    max-width: 350px;
    width: 50%;
    height: 430px;
    margin: 70px auto 0; /* Center the form horizontally */
    padding: 20px;
    border: 1px  #ccc; /* Border around the form */
    border-radius: 5px; /* Rounded corners */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Slight shadow for a 3D effect */
  /*  background-color: #fff;  White background */
  background: rgba(60, 60, 60, 0);
  box-shadow: 0px 0px 30px 1px rgba(240, 239, 239, 0.25);
  backdrop-filter: blur(12.5px);
  
  box-shadow: 0 2 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

/* * Style for the heading */ 
        .login h2 {
            color: white;
            text-align: center; /* Center the heading */
            margin-bottom: 20px; /* Margin below the heading */
            font-family: "Crimson Text", serif;
        }

/* Style for input fields container */
.input {
    margin-bottom: 10px;
   
}

.input label {
    color: white;
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Margin below the label */
    font-family: "Crimson Text", serif;
    /* font-weight: 700; */
    font-weight: bold; /* Bold text for labels */
}

/* Style for input fields */
.input input[type="email"],
.input input[type="password"] {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    color: white;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background: rgba(60, 60, 60, 0);
    box-shadow: 0px 0px 30px 0px rgba(208, 204, 204, 0.25);
    backdrop-filter: blur(12.5px);
    
    box-shadow: 0 2 20px rgba(0,0,0,0.5);
    font-family: "Crimson Text", serif;
    font-size: 16px; /* Increase font size */
}

/* Style for the submit button */
.submit_btn {
    display: inline-block; /* Allows padding and margin */
    width: 70%; /* Full width */
    margin: 0 auto;
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    background-color: rgb(143, 143, 236); /* Blue background */
    color: white; /* White text */
    font-family: "Crimson Text", serif;
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from link */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Change background color on hover */
.submit_btn:hover {
    background-color: rgb(102, 102, 235); /* Darker blue on hover */
}

.Log{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(image/login3.jpg);
    background-size: cover;
    background-position: center;
}


